{#
	CoderzWar
	Author : Atiab Jobayer <atiab@coderzwar.com>
#}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - CoderzWar&beta;</title>
	<meta content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" href="{{ base_url("assets/images/favicon.ico") }}"/>
	<link rel="stylesheet" type='text/css' href="{{ base_url("assets/styles/login.css") }}"/>
</head>
<body id="body">
